body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td {
  border: 2px solid black;
  border-color: black;
  padding: 0px;
}

table {
  
  width: 800px;
  height: 800px;
  border-collapse: collapse;
}

td {
  text-align: center;
}

.game-board {
  padding-top: 50px;
  padding-left: 50px;

}